<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/homePage.css"> 
</head>
<body>
    <header>
        <h1>Your Home Page</h1>
        <nav>
                <a href="/log-out">Log Out</a></li>
        </nav>
    </header>
    <main>
        <section id="messages">
            <% messages.forEach(message => { %>
                <div class="message-box">
                    <h3><%= message.title %></h3>
                    <p><%= message.text %></p>
                    <% if (membership_status === true) { %>
                        <p class="message-author">Author: <%= message.first_name %> <%= message.last_name %></p>
                        <p class="message-date">Created on: <%= message.created_at %></p>
                    <% } %>
                </div>
            <% }) %>
        </section>
        <% if (membership_status === false) { %>
            <section id="member-message">
                <p>You are not a member. Click <a href="/memberSignIn"><b>here</b></a> to become one.</p>
            </section>
        <% } %>
    </main>
    <footer>
        <p>&copy; 2024 Your Company. All rights reserved.</p>
    </footer>
</body>
</html>
